/* All styles for your header Components live here */

.header-content {
  display: flex;
  .header-title {
    font-family: $lato;
    display: flex;
    align-items: center;
    h1,
    h3,
    p {
      margin: .5rem;
    }
  }
}
