/* All styles for your header Components live here */

.header-content {
  display: flex;

  img.image-thumbnail {
    height: 4rem;
  }

  .header-title .header-data {
    font-family: $lato;
    display: flex;
    p:first-of-type {
      font-weight: 700;
    }
    h4,
    p {
      margin: 0.5rem;
    }
  }
}
