// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato");
$lato: "Lato", sans-serif;

//Global
body {
  max-width: 400px;
  margin-left: 1rem;
}

// Import component stylesheets
@import "./components/ButtonComponents/Buttons.scss";
@import "./components/DisplayComponents/Display.scss";
@import "./components/ButtonComponents/ButtonContainer.scss";
