// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato");
$lato: "Lato", sans-serif;

//Global
body {
  width: 20rem;
  height: 27.5rem;
  margin-left: 1rem;
}

// Import component stylesheets
@import "./components/ButtonComponents/Buttons.scss";
@import "./components/ButtonComponents/ButtonContainer.scss";
@import "./components/DisplayComponents/Display.scss";
