.button-container {
  position: relative;
  height: 320px;

  .action-button-container {
    position: absolute;
    top: 0;
    bottom: 0;
    .action-button-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 0;
      bottom: 0;
    }
  }
  .operational-button-container {
    position: absolute;
    top: 0;
    right: 0;
    .operational-button-wrapper {
      background-color: #A0001E;
      display: flex;
      flex-direction: column;
      .square-button {
        background-color: transparent;
        color: white;
        margin: 0;
        border: 1px solid grey;
      }
    }
  }
  .number-button-container {
    padding-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    width: 15rem;
  }
}
